body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:20px;
  width:540px;
  height:400px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:400px;
}
#u1 {
  position:absolute;
  left:2px;
  top:192px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:172px;
  top:275px;
  width:100px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
